.magra-regular {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.magra-bold {
  font-family: "Magra", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.jaro-uniquifier{
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0;
    padding-right: 80px;
    padding-left: 80px;
}

a{
    font-family: "jaro";
    color: #0f535b;
    font-size: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header-logo{
    max-width: 150px;
}

.pc-nav-list{
    list-style: none;
    display: flex;
}

.list-01,.list-02,.list-03{
    padding-right: 30px;
}

.top-img{
    text-align: center;
}

.top{
    margin: auto;
    display: block;
    max-width: 100%;
}

h1{
    font-family: "Magra";
    font-size: 64px;
    text-align: center;
    padding-top: 40px;
}

h2{
    font-family: "jaro";
    font-size: 40px;
}

th{
    font-family: "jaro";
    font-size: 40px;
    text-align: left;

}

p{
    font-family: "Noto Sana JP";
    font-size: 30px;
    margin: 0;
}

td{
    font-family: "Noto Sana JP";
    font-size: 30px;
}

.section_1,.section_2,.section_3{
    display: flex;
    margin-bottom: 40px;
    gap: 24px;
}

.section1-img,.section2-img,.section3-img{
    max-width: 409px;
    flex-shrink: 0;
}

.section1-text,.section2-text,.section3-text{
    background-color: #bfdded;
    padding: 16px 24px;
    flex-grow: 1;
    box-sizing: border-box;
}

.footer-logo{
    margin: 80px auto 10px;
    max-width: 8%;
    display: block;
}

